* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

#unsplash {
    flex: 1;
    height: 100vh;
}

.leftPane {
    display: flex;
    flex-shrink: 2;
    position: relative;

}

.logo {
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    width: 100%;
    height: 140px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
}

#odin {
    width: 100px;
    height: 120px;
}

@font-face {
    font-family: norse;
    src: url(./Norse-Bold.otf);
}

.logo>h1 {
    font-family: norse, sans-serif;
    color: white;
    font-size: 90px;
}

#credit {
    background-color: rgb(0, 0, 0, .5);
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

#credit>a {
    color: white;
}

#rightPane {

    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    flex-direction: column;
}

.sections {
    flex: 1;
    padding-left: 30px;
    background-color: #f2f2f2df;
}

.sections.one {
    position: relative;
}

.sections.one>.p1 {
    position: absolute;
    bottom: 80px;
    font-size: 18px;
    font-weight: bold;
    width: 550px;
}

.sections.one>p:last-child {
    position: absolute;
    bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}

.sections.two {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    box-shadow: 0 10px 10px 0px;

}

.sections.two>form>div {
    display: flex;
}

.sections.two>form>div>div {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-right: 150px;
}

.sections.two>form>button {
    position: absolute;
    bottom: -60px;
    left: 30px;
    z-index: 1000;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 10px 35px;
    border: 0;
    border-radius: 6px;
}

.sections.two>h1 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.sections.two>form {
    padding-bottom: 30px;
}

.sections.two>form label {
    font-size: 14px;
    font-weight: 500;
}

.sections.two>form input:focus {
    border: 1px #0026fc solid;
    outline: none;
    box-shadow: 0 0 5px #0026fc;
}

.sections.two>form input:invalid {
    border: 1px #a40000 solid;
    outline: none;
    box-shadow: 0 0 5px #a40000;
}

.sections.two>form input {
    border: 1px #e4e4e4 solid;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    width: 250px;
    font-size: 18px;
}

.sections.three {
    position: relative;
}

.sections.three>p {
    position: absolute;
    top: 80px;
    font-weight: bold;

}